@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer { font-size: 11px; text-align: center; }
footer a { color: hsl(228, 45%, 44%); }

body {
    display: flex;
    flex-direction: column;
    min-height:100svh;
    background-color: var(--yellow);
    justify-content: center;
    align-items: center;
    font-family: "Figtree", sans-serif;
    padding: 1rem;
}

.container {
    background-color: var(--white);
    padding:16px;
    max-width: 20rem;
    border-radius: 15px;
    box-shadow: 7px 7px ;
    border: solid 1px;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    margin-bottom: -10px;
}

.profile img {
    width:1.5rem;
    text-align: center;
    margin-right: 5px;
    margin-top: 15px;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
    margin-bottom:15px;   
}

.tag {
    background-color: var(--yellow);
    text-align: center;
    max-width: 4rem;
    font-size: 0.7rem;
    padding:0.2rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

.small-weight {
    font-weight:500;
}

.big-weight {
    font-weight:800;
}

h1 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.desc {
    font-size: 0.8rem;
    color:var(--gray-500);
    line-height:1.2rem
}

.date {
    color:var(--gray-950);
    font-size:0.7rem;
    margin-bottom: 15px;
}